body {
    transition: none;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -20%;
    height: 100%;
    width: 20%;
    transition: all 0.3s;
    overflow-wrap: break-word;
    z-index: 2;
}

#textSlider {
    width: 90%;
}

.text-large {
    font-size: 30px;
}

.text-medium {
    font-size: 24px;
}

.text-small {
    font-size: 16px;
}

#sidebar.active {
    left: 0;
}

#sidebar.active~#mainContent {
    margin-left: 20%;
}

#sidebar.active~#mainContentHeader {
    margin-left: 20%;
}

#sidebarTop {
    width: 100%;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.sidebarNavigation {
    height: calc(100% - 80px);
    overflow-y: auto;
}

#mainContent {
    padding-top: 50px;
    width: 80%;
    transition: 0.3s;
    margin: 0%;
}

.appcontainer {
    width: 100%;
}

.btn-stick-out {
    margin-left: 2%;
    position: fixed;
    top: 50%;
}

#sidebarToggle {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 24px;
    transition: 0.3s;
}

#sidebarToggle.active-custom {
    margin-left: 22%;
}

#sidebarToggleIcon::before {
    transition: 0.5s;
}

#sidebarToggleIcon.active::before {
    transform: rotate(180deg);
    transition: 0.5s;
}

#mainContent.active {
    width: 100%;
}

#mainContentHeader {
    position: fixed;
    height: 50px;
    width: 80%;
}

#mainContentHeader.active {
    width: 100%;
}

#scrollUpButton {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5%;
    bottom: 10%;
    font-size: 24px;
    padding: 0;
    transition: 0.5s;
}

.single-list-item {
    padding: 20px;
}

.custom-list-group {
    border-radius: 0;
}

.custom-hoverable-item {
    transition: 0.3s;
}

.custom-hoverable-button-icon {
    color: #6c757d;
    transition: 0.3s;
}

.custom-whitedark {
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.custom-accordion:active,
.custom-accordion:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.custom-accordion {
    box-shadow: none !important;
}

.accordion-button::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d' class='bi bi-caret-down-fill' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") !important;
}

#dimmer {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
    opacity: 0.5;
    display: none;
}

.custom-button {
    z-index: 2;
}

/* theme dependant styles */

[data-bs-theme="light"] .custom-hoverable-item:hover {
    filter: brightness(0.9);
}

[data-bs-theme="dark"] .custom-hoverable-item:hover {
    filter: brightness(1.2);
}

[data-bs-theme="light"] .custom-list-item.current {
    filter: brightness(0.9);
}

[data-bs-theme="dark"] .custom-list-item.current {
    filter: brightness(1.2);
}

[data-bs-theme="light"] .custom-whitedark {
    background-color: #FFFFFF;
}

[data-bs-theme="dark"] .custom-whitedark {
    background-color: #212529;
}

[data-bs-theme="light"] .custom-button:hover {
    filter: brightness(0.9);
}

[data-bs-theme="dark"] .custom-button:hover {
    filter: brightness(1.2);
}

[data-bs-theme="light"] .custom-hoverable-button-icon:hover {
    color: #212529;
}

[data-bs-theme="dark"] .custom-hoverable-button-icon:hover {
    color: white;
}

[data-bs-theme="dark"] .custom-accordion {
    background-color: #212529;
    color: #f8f9fa;
}

[data-bs-theme="light"] .custom-accordion {
    background-color: #FFFFFF;
    color: black;
}

[data-bs-theme="dark"] .custom-accordion:active,
.custom-accordion:focus {
    filter: brightness(1.2);
}

[data-bs-theme="light"] .custom-accordion:active,
.custom-accordion:focus {
    filter: brightness(0.9);
}

@media only screen and (max-width:1127px) {
    #sidebar {
        left: -60%;
        width: 60%;
    }

    #sidebar.active~#mainContent {
        margin-left: 0;
    }

    #sidebar.active~#mainContentHeader {
        margin-left: 0;
    }

    #sidebar.active~#dimmer {
        display: block;
    }

    #mainContent {
        width: 100%;
    }

    #mainContentHeader {
        width: 100%;
    }

    #sidebarToggle.active-custom {
        margin-left: 62%;
    }

    #sidebarToggle {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #scrollUpButton {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #sidebarTop {
        font-size: 14px;
    }

    .text-large {
        font-size: 24px;
    }

    .text-medium {
        font-size: 18px;
    }

    .text-small {
        font-size: 14px;
    }
}